.menu {
    overflow: hidden;
    background-color: black;
    margin-left: 72%;
    margin-right: 30%;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    display: inline;
}

.menu a {
    float: right;
    display: table;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    border-right: 1px solid #f2f2f2;
    background-color: black;
}


a.eins { 
    color: gold; 
}

a:hover {
    color: #8FBC8F; 
}

.seite {
    color: red;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 30px;
}

#index {
    color: red;
}


body {
    background-image: url(Medien/muster-linien-diagonal.jpg);
    text-align: center;
    width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
}

table, th, td {  
    background-color:white;
    color: black;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 1px;
    margin-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



#coll { 
    border-collapse: collapse; 
}

#sepa {
    border-collapse: separate; 
    margin-top: 2em; 
}

caption { 
    text-align: left; 
}

image.Bild{
    display: block;
    margin-left: auto;
    margin-right: auto
}

h1{
    color: gold;
    font-size: 100px;
    padding-top: 30px;
    background-image: url(Medien/2swvolleyball.jpg);
    text-align: center;
    background-position: center;
}

h1 {
    animation-duration: 3s;
    animation-name: h1;
}
  
@keyframes h1 {
    from {
        font-size: 70px;
    }

    to {
        font-size: 100px;
    }
}

.volleyball {
    background-repeat: no-repeat;
}

h2 {
    font-size: 70px;
    text-align: center;
    color: #8FBC8F;
}

p {
    font-size: 35px;
    margin-right: 50%;
    margin-left: 20%;
    margin-bottom: 1px;
    background-color: gray;
    text-align: left;
    color: white;
    padding: 10px;
}

p.nachricht {
    padding-bottom: 80px;
    padding-right: 50%;
}

p.absender {
    margin-right: 73%;
    margin-left: 20%;
}

input {
    font-size: 40px;
    background-color:white;
    color:gray;
    margin: 10px;
  }

  textarea {
      font-size: 40px;
      color: gray;
      font-family: sans-serif;
  }


  a.fb img{
    height:50px;
    width:50px;
}

a.insta img {
    height:50px;
    width:50px;
}

a.fb:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    opacity: .5;
    filter: alpha(opacity=50);
}

a.insta:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    opacity: .5;
    filter: alpha(opacity=50);
}


button.button {
    height: auto;
    width: 200px;
    text-align: center;
    font-size: 30px;
    margin: 10px;
    background-color: gray;
    color: white;
}

table * {
    background-color:beige;
}

h2 {
    animation-duration: 3s;
    animation-name: h;
}
  
@keyframes h {
    from {
        color:gold;
    }

    to {
        color: #8FBC8F;
    }
}


@media screen and (min-width: 600px) and (max-width: 1024px){
    body {
        width: 600px;
        height: auto;
    }

    h1 {
        font-size: 70px;
        text-align: center;
        background-image: url(Medien/2swvolleyball.jpg);
        background-position: center;
    }

    h1 {
        animation-duration: 3s;
        animation-name: h1;
    }
      
    @keyframes h1 {
        from {
            font-size: 50px;
        }
    
        to {
            font-size: 70px;
        }
    }

    a.fb img{
        height:40px;
        width:40px;
    }
    
    a.insta img {
        height:40px;
        width:40px;
    }

    h2 {
        font-size: 50px;
    }

    table, th, td {  
        font-size: 25px;
        padding: 7px;
        margin-bottom: 1px;
        margin-top: 5%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

     .menu {
        overflow: hidden;
        margin-left: 40%;
        margin-right: auto;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: inline;
    }
    
    .menu a {
        display: table;
        padding: 10px;
        font-size: 10px;
    }

    p {
        font-size: 20px;
    }

    img.Bil {
        animation-duration: 3s;
        animation-name: bild;
    }
      
    @keyframes bild {
        from {
            width: 100px;
            height: auto;
        }
    
        to {
            width: 600px;
            height: auto;
        }
    }

    ol {
        font-size: 20px;
        margin: 0 auto;
    }

    ul {
        font-size: 20px;
        margin: 0 auto;
        text-align: center;
    }

    button.button {
        width: 150px;
        height: auto;
        font-size: 25px;
    }

    textarea {
        font-size: 35px;
    }

    input {
        font-size: 35px
    }
}
    

@media screen and (max-width: 599px){
    body {
        width: 599px;
        height: auto;
    }

    h1 {
        font-size: 50px;
        text-align: center;
        background-image: url(Medien/2swvolleyball.jpg);
        background-position: center;
    }

    h1 {
        animation-duration: 3s;
        animation-name: h1;
    }
      
    @keyframes h1 {
        from {
            font-size: 30px;
        }
    
        to {
            font-size: 50px;
        }
    }

    a.fb img{
        height:30px;
        width:30px;
    }
    
    a.insta img {
        height:30px;
        width:30px;
    }

    h2 {
        font-size: 30px;
    }

    table, th, td {  
        font-size: 20px;
        padding: 5px;
        margin-bottom: 1px;
        margin-top: 5%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    button.button {
        width: 100px;
        height: auto;
        font-size: 20px;
    }

    textarea {
        font-size: 25px;
    }

    input {
        font-size: 25px
    }

     .menu {
        overflow: hidden;
        margin-left: 40%;
        margin-right: auto;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: inline;
    }
    
    .menu a {
        display: table;
        padding: 10px;
        font-size: 10px;
    }
}

