.menu {
    overflow: hidden;
    background-color: black;
    margin-left: 72%;
    margin-right: 30%;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    display: inline;
}

.menu a {
    float: right;
    display: table;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    border-right: 1px solid #f2f2f2;
    background-color: black;
}

a.eins {  
    color:aqua; 
}

a:hover {
    color: #8FBC8F; 
}

.seite {
    color: red;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 30px;
}

#index {
    color: red;
}

body {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-family: sans-serif;
    background-color: #000880;
}


h1{
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
    color:#8FBC8F;
    width: 100%;
    background-position: center;
}

p, h2 {
    color: #8FBC8F;
}

table, th, td { 
    border: 1px solid; 
    background-color:white;
    color: #8FBC8F;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}


#start {
    height: auto;
    width: 200px;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    background-color: black;
    color: white;
}


#URL {
    width: 500px;
    height: auto;
}

#url {
    color: #8FBC8F;
}

img {
    height: 100px;
    width: 100px;
    position: absolute;
}

#nr1 {
    position: absolute;
    border: 10px;
    margin-left: 15px;

}