.menu {
    overflow: hidden;
    background-color: black;
    margin-left: 72%;
    margin-right: 30%;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    display: inline;
}

.menu a {
    float: right;
    display: table;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    border-right: 1px solid #f2f2f2;
    background-color: black;
}

a.eins {  
    color:aqua; 
}

a:hover {
    color: #8FBC8F; 
}

.seite {
    color: red;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 30px;
}

#index {
    color: red;
}

body {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-family: sans-serif;
    background-color: #000880;
}


h1{
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
    color:#8FBC8F;
    width: 100%;
    background-position: center;
}

p, h2 {
    color: #8FBC8F;
}

table, th, td { 
    border: 1px solid; 
    background-color:white;
    color: #8FBC8F;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}


#start {
    height: auto;
    width: 200px;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    background-color: black;
    color: white;
}


#URL {
    width: 500px;
    height: auto;
}

#url {
    color: #8FBC8F;
}

img {
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 4;
}

#nr1 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 170px;
}

#nr2 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 300px;
}

#nr3 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 430px;
}

#nr4 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 560px;
}

#nr5 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 170px;
}

#nr6 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 300px;
}

#nr7 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 430px;
}

#nr8 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 560px;
}

#nr9 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 170px;
}

#nr10 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 300px;
}

#nr11 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 430px;
}

#nr12 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 560px;
}


#nr13 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 170px;
}

#nr14 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 300px;
}

#nr15 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 430px;
}

#nr16 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 560px;
}

#nr17 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 170px;
}

#nr18 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 300px;
}

#nr19 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 430px;
}

#nr20 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 560px;
}

#bild1 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild1;
}
@keyframes bild1 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 170px;
        left: 400px;
    }
}

#bild2 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild2;
}
@keyframes bild2 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 300px;
        left: 400px;
    }
}

#bild3 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild3;
}
@keyframes bild3 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 430px;
        left: 400px;
    }
}

#bild4 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild4;
}
@keyframes bild4 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 560px;
        left: 400px;
    }
}

#bild5 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild5;
}
@keyframes bild5 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 170px;
    }
}

#bild6 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild6;
}
@keyframes bild6 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 300px;
    }
}

#bild7 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild7;
}
@keyframes bild7 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 430px;
    }
}

#bild8 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild8;
}
@keyframes bild8 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 560px;
    }
}

#bild9 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild9;
}
@keyframes bild9 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 170px;
    }
}

#bild10 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild10;
}
@keyframes bild10 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 300px;
    }
}

#bild11 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild11;
}
@keyframes bild11 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 430px;
    }
}

#bild12 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild12;
}
@keyframes bild12 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 560px;
    }
}

#bild13 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild13;
}
@keyframes bild13 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 170px;
    }
}

#bild14 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild14;
}
@keyframes bild14 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 300px;
    }
}

#bild15 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild15;
}
@keyframes bild15 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 430px;
    }
}

#bild16 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild16;
}
@keyframes bild16 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 560px;
    }
}

#bild17 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild17;
}
@keyframes bild17 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 170px;
    }
}

#bild18 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild18;
}
@keyframes bild18 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 300px;
    }
}

#bild19 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild19;
}
@keyframes bild19 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 430px;
    }
}

#bild20 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild20;
}
@keyframes bild20 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 560px;
    }
}



